# Resend API Key (obtenue sur resend.com)
RESEND_API_KEY=re_votre_cle_ici

# Email de réception des messages
PUBLIC_CONTACT_EMAIL=votre-email@exemple.com

# Cloudflare Turnstile
TURNSTILE_SITE_KEY=site_key
TURNSTILE_SECRET_KEY=secret_key