---
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
---
<div>
  <!-- Code pour Education à venir -->
</div>
