---
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { getCollection } from 'astro:content';

const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
const skillsEntries = await getCollection('skills', ({ id }) => id.startsWith(`${currentLang}/`));
---
<div class="pb-8 border-b-2 border-solid border-light dark:border-dark transition-colors duration-200 ease-in-out">
  <div class="title-area mb-4">
    <h2 class="text-2xl font-black small-caps dark:text-light transition-colors duration-200 ease-in-out">
      { t('cv.skills.title') }
    </h2>
  </div>
  <div class="skills-wrapper grid gap-6">
    {skillsEntries.map((entry: any) => (
      <div class="skill-item">
        <h3 class="mb-2 text-lg font-black small-caps dark:text-light transition-colors duration-200 ease-in-out">
          {entry.data.title}
        </h3>
        <div class="skill-description dark:text-light transition-colors duration-200 ease-in-out">
          <ul class="list-disc list-inside">
            {entry.data.skillsList.map((skill: string) => (
              <li set:html={skill} />
            ))}
          </ul>
        </div>
      </div>
    ))}
  </div>
</div>
