---
const { title, subtitle } = Astro.props;
---

<div class="p-8">
    <h1 class="text-3xl font-black small-caps dark:text-light transition-colors duration-200 ease-in-out">
        { title }
    </h1>
    <p class="dark:text-light transition-colors duration-200 ease-in-out">
        { subtitle }
    </p>
</div>