---
import { getLangFromUrl, useTranslatedPath, useTranslations } from '@i18n/utils';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import Layout from '@layouts/Layout.astro';
import ToolLink from '@components/tools/ToolLink.astro'
import ButtonLink from '@components/ui/ButtonLink.astro';
import { getCollectionStaticPaths } from '@utils/useRoutes';
import { getAllTools, filterTools } from '@utils/useTools';

const { project } = Astro.props;

const { slug } = Astro.params;
const currentLang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(currentLang);
const t = useTranslations(currentLang);

const projectModule = await import(`@content/projects/${slug}.data.ts`);
const content = projectModule.getProjectData(currentLang);

// Generate route for each project
export async function getStaticPaths() {
    return getCollectionStaticPaths('projects');
}

const allTools = await getAllTools();
const filteredTools = filterTools(allTools, content.tools);
---

<Layout title={ content?.title }>
    <div class="py-8">
        <Image
            src={ content?.bannerImage }
            alt={ content?.primaryImageAlt }
            class="w-full"
        />
    </div>
    <div class="p-8 pt-0">
        <h1 class="text-3xl font-black small-caps dark:text-light transition-colors duration-200 ease-in-out">
            { content?.title }
        </h1>
        <div class="flex items-center gap-4">
            <p class="flex items-center gap-2 dark:text-light transition-colors duration-200 ease-in-out">
                [ToDo] projet développé chez Novius
            </p>
        </div>
    </div>
    <div class="grid md:grid-cols-2 gap-8">
        <div class="pb-8 pl-8 pt-0 pr-8 md:pr-0">
            <div class="flex flex-col justify-center h-full">
                <div class="wysiwyg dark:text-light transition-colors duration-200 ease-in-out">
                    <Fragment set:html={ content?.introduction } />
                </div>
                <div class="tools-wrapper mt-6">
                    <p class="mb-1 text-xs font-bold dark:text-light transition-colors duration-200 ease-in-out">
                        { t('projectDetail.toolsNotice') }
                    </p>
                    <ul class="flex flex-wrap gap-2">
                        {filteredTools.map(tool =>
                            <li class="flex h-[24px] w-[24px] border border-solid border-dark bg-white dark:bg-light transition-colors duration-200 ease-out">
                                <ToolLink tool={ tool }
                                          target="_blank"
                                          classNames="flex w-full h-full p-1"
                                />
                            </li>
                        )}
                    </ul>
                </div>
                <div class="cta mt-6">
                    <ButtonLink
                        href={ content?.url }
                        type="dark"
                        target="_blank"
                        label={ t('projectDetail.viewWebsiteButtonLabel') }
                    />
                </div>
            </div>
        </div>
        <div class="pb-8 flex items-center">
            <div class="main-image relative flex justify-center">
                <Image
                        src={ content?.primaryImage }
                        alt={ content?.primaryImageAlt }
                        class="mb-20 w-[80%] z-10 shadow-2xl rounded"
                />
            </div>
        </div>
    </div>
    <div class="grid md:grid-cols-2 gap-8">
        <div class="pb-8 flex items-center order-2">
            <div class="main-image relative flex justify-center">
                <Image
                        src={ content?.secondaryImage }
                        alt={ content?.secondaryImageAlt }
                        class="mb-20 w-[80%] z-10 shadow-2xl rounded"
                />
            </div>
        </div>
        <div class="pb-8 pr-8 pt-0 pl-8 md:pl-0 order-1 md:order-3">
            <div class="flex flex-col justify-center h-full">
                <div class="wysiwyg dark:text-light transition-colors duration-200 ease-in-out">
                    { content?.outroduction }
                </div>
            </div>
        </div>
    </div>
    <div class="cta p-8 flex justify-center">
        <ButtonLink
            href={ translatePath('/projects') }
            label={ t('projectDetail.backToPortfolioButtonLabel') }
            type="dark"
        />
    </div>
</Layout>

<style>
    @reference "@styles/tailwind-config.css";

    .main-image {

        &::before {
            content: "";
            @apply absolute bg-dark dark:bg-light w-full h-3/4 left-0 bottom-0 transition-colors duration-200 ease-out;
        }
    }
</style>